# Local environment variables / Secrets
.env

# Python Virtual Environment
.venv/
venv/
ENV/

# Python caching files (compiled bytecode)
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db

# Rate limit state files
src/rate_limit_state.json